#cube12 table.gce-calendar{
	margin:5px auto;
	width:460px;
	height:280px;
	color:#999;
	border:1px solid #999;
}
#cube12 .gce-calendar .gce-caption {
color: #fff;

}
#cube12 .gce-calendar td {
	height:auto;
	border:1px solid #999;
}
#cube12 .gce-calendar .gce-day-number {
font-size: 1.4em;
}
#cube12 .gce-calendar .gce-has-events {
color: #fff;
}
#cube12 .gce-calendar .gce-today {
background-color: #666;
}